README.md     
jest.config.js
hunt.js
README.md 
bigzip/
bigzip/hunt.js.zip                        
bigzip/main.js.zip                        
bigzip/xss.test.js.zip                    
coverage/clover.xml                       
coverage/coverage-final.json              
coverage/lcov-report/base.css             
coverage/lcov-report/block-navigation.js  
coverage/lcov-report/favicon.png          
coverage/lcov-report/hunt.js.html         
coverage/lcov-report/index.html           
coverage/lcov-report/main.js.html         
coverage/lcov-report/prettify.css         
coverage/lcov-report/prettify.js          
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js            
coverage/lcov.info                        
                            
